fastapi
uvicorn
sqlalchemy
chromadb
python-multipart
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
pillow 
psycopg2
openai
chromadb>=0.4.22
Pillow>=10.0.0
transformers
torch
torchvision
alembic